<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ssuelgi_22</title>
</head>

<body>
    <h1>Song list</h1>
    <table bgcolor="#FFF00"〉>
        <tr>
            <td>
                <strong>발매일</strong>
            </td>
            <td>
                <strong>표지</strong>
            </td>
            <td>
                <strong>곡명</strong>
            </td>
            <td>
                <strong>가수</strong>
            </td>
            <td>
                <strong>앨범명</strong>
            </td>
            
        </tr>
        <tr bgcolor="#FFF00">
            <th colspan="5">
                2016년 
            </th>
        </tr>
        <tr bgcolor="FFFFFF">
            <td>
                7월14일
            </td>
            <td>
                <img src="real1.jpg" width="100">
            </td>
            <td>
                Butterfly (Feat. 슬기 Of SMROOKIES)
            </td>
            <td>
                헨리
            </td>
            <td>
                Fantastic
            </td>
        </tr>
        <tr bgcolor="FFFFFF">
            <td>
                10월02일
            </td>
            <td>
                <img src="real2.jpg" width="100">
            </td>
            <td>
                소원을 말해봐 (Genie)
                추억의 책장을 넘기면
            </td>
            <td>
                주말의 명화 시네마 천국, 주문하시겠습니까 팝콘 소녀
            </td>
            <td>
                복면가왕 79회
            </td>
        </tr>
        <tr bgcolor="FFFFFF">
            <td>
                1월22일
            </td>
            <td>
                <img src="real3.jpg" width="100">
            </td>
            <td>
                Darling U
            </td>
            <td>
                슬기, 예성
            </td>
            <td>
                Darling U - SM STATION
            </td>
        </tr>
        <tr bgcolor="FFFFFF">
            <td>
                2월 21일
            </td>
            <td>
                <img src="real4.jpg" width="100">
            </td>
            <td>
                남녀의 온도차 (Our Story) (Feat. 케이시)
            </td>
            <td>
                슬기, 황치열
            </td>
            <td>
                Fall, in girl Vol.3
            </td>
        </tr>
        <tr bgcolor="FFFFFF">
            <td>
                2월 21일
            </td>
            <td>
                <img src="real4.jpg" width="100">
            </td>
            <td>
                남녀의 온도차 (Our Story) (Feat. 케이시)
            </td>
            <td>
                슬기, 황치열
            </td>
            <td>
                Fall, in girl Vol.3
            </td>
        </tr>
    </table>
    <a href="/">youweb_1</a>
</body>
</html>    