<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> 
        장동민 기자 <br>
        과거 토트넘에서 뛰었던 수비수이자 현재 축구 평론가로 활동 중인 제이슨 쿤디(53·잉글랜드)가 손흥민(30)에 대해 "월드클래스는 아니다"라고 평했다.<br/>

        영국 매체 토크 스포츠는 23일(한국시간) "제이슨 쿤디가 해리 케인(29)과 손흥민을 놓고 여전히 토트넘에서 뛰고 있다는 것은 우스꽝스러운 일(travesty)이라 생각한다. <br/>
        
        둘에 대해 안타까운 감정을 느낀다(feels sorry)는 발언을 했다"고 보도했다.

        제이슨 쿤디는 1988년 첼시에서 선수 생활을 시작한 뒤 1992년부터 1996년까지 토트넘에서 수비수로 활약했다. <br/>
        
        1995년에는 크리스탈 팰리스, 1996년에는 브리스톨 시티와 입스위치 타운에서 각각 임대 생활을 했다. 2000년 포츠머스를 끝으로 현역 유니폼을 벗은 그는 현재 토크스포츠 패널로 활동 중이다.<br/> 
        
        그런 그가 손흥민과 케인의 활약을 보면서 작심하고 독설을 날렸다.

        토크스포츠는 "쿤디가 케인과 손흥민이 여전히 토트넘에서 뛰고 있다는 것은 비극적인 일이며 둘에게 딱한 감정을 느낀다고 인정했다"고 전했다.<br/>

        이어 "손흥민이 2015년 독일 바이엘 레버쿠젠에서 토트넘으로 합류하면서 케인과 인연을 맺었다.<br/>
        
        둘은 서로를 도우며 맨체스터 시티 격파에도 앞장섰다"면서 "이 둘은 디디에 드로그바와 프랭크 램파드가 세웠던 최다 프리미어리그 득점 합작 기록(36골)과 동률을 이뤄냈다. <br/>
        
        손흥민은 지난해 여름 토트넘과 새로운 4년 계약을 맺었다"고 설명했다.

    </p>
    <p>
        손흥민이 2015년 독일 바이엘 레버쿠젠에서 토트넘으로 합류하면서 케인과 인연을 맺었다.<br/>
        
        둘은 서로를 도우며 맨체스터 시티 격파에도 앞장섰다
    </p>
</body>
</html>