<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ssuelgi_22</title>
</head>

<body>
    <h1><a href="">슬기</a></h1>
    <ul>
        <li><a href="">Song</a><br/></li>
        <li><a href="">Pictures</a><br/></li>
        <li><a href="">Video</a><br/></li>
    </ul>   

    
    
    <h2>Suelgi's Dream의 방</h2>
    <p>
    She is a very popular singer. If you are korean, then you also know her.<br/>
    I think her attracive things are her eyes,skill of song, character, dancing skill.<br/>

    <strong>
        <u>
            SMentertaiment
        </u><br/>
                <u>
                    <a href ="https://namu.wiki/w/Red%20Velvet"
                     target="_blank" tiltle="namu_wiki">Red velvet</a>
                </u>
    </strong><br/>

    
    <img src="seulgi.jpg" width="450">
    <table>
        <tr>
            <td>키</td>
            <td>161cm</td>
        </tr>
        <tr>
            <td>혈액형</td>
            <td>A형</td>
        </tr>
        <tr>
            <td>발사이즈</td>
            <td>230mm</td>
        </tr>
    </table>
     <p style="margin-top:40px;">
    Her group name is Red velvet. Its members are Irene,Wendy,Seulgi,Yeri,Joy.<br/>
    Irene is leader of the group. But she causes some controversies last year.<br/>
    So she can't come to commercial or tv show. It's her result of works.</p>

    
</body>
</html>