<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ssuelgi_22</title>
</head>

<body>
    <h1><a href="">슬기</a></h1>
    <ul>
        <li><a href="">Song</a><br/></li>
        <li><a href="">Pictures</a><br/></li>
        <li><a href="">Video</a><br/></li>
    </ul>   

    
    
    <h2>슬기 모음</h2>
    <p>
        레드벨벳 슬기(본명 강슬기)는 순한 성격으로 유명합니다. 별명이 곰슬기입니다.<br/> 
        연예인 이미지는 보이는 대로 받아들이면 안 된다지만, </br>
        슬기 인성에 대해선 그래도 꽤 여러 사람들이 비슷한 언급을 하는 듯합니다.<br/> 
        7년 넘게 힘든 연습생 생활을 버텼다는 것도 뭔가 그 사람 성격에 대해 말해주는 게 있습니다. <br/>
        슬기는 sm토요 공개 오디션에서 합격해 2014년에 데뷔했습니다. <br/>
        슬기의 퍼스널 컬러는 '가을웜'입니다. <br/>
        슬기의 상직색인 <font color="#FFA500">오렌지 색</font>또한 가을 웜톤입니다. <br/>
   

    <strong>
        <u>
            SMentertaiment
        </u><br/>
                <u>
                    <a href ="https://namu.wiki/w/Red%20Velvet"
                     target="_blank" tiltle="namu_wiki">Red velvet</a>
                </u>
    </strong><br/>

    <a href='https://www.dispatch.co.kr/2184605'>
        <img src="https://dispatch.cdnser.be/cms-content/uploads/2022/01/22/1b993577-99f3-4cb2-9322-3a598967e173.jpg" alt="수정 중" width="450">
    </a>    
    <table class="collapse" border='1' bordercolor='gold'>
        <tr>
            <td>키</td>
            <td>161cm</td>
        </tr>
        <tr>
            <td>혈액형</td>
            <td>A형</td>
        </tr>
        <tr>
            <td>발사이즈</td>
            <td>230mm</td>
        </tr>
    </table>
     <p style="margin-top:40px;">
    Her group name is Red velvet. Its members are Irene,Wendy,Seulgi,Yeri,Joy.<br/>
    Irene is leader of the group. But she causes some controversies last year.<br/>
    So she can't come to commercial or tv show. It's her result of works.</p>

    
</body>
</html>